<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.vostre.circular">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/icon_gerenciador"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_gerenciador"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.DetalheAcessoActivity"></activity>
        <activity android:name=".view.DashboardActivity" />

        <service android:name=".model.service.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name=".model.service.SyncService"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <provider
            android:name=".utils.DataProvider"
            android:authorities="br.com.vostre.circular.admin.datasync.provider"
            android:exported="false"
            android:syncable="true" />

        <activity android:name=".view.LoginActivity" />
        <activity android:name=".view.MenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.BaseActivity" />
        <activity android:name=".view.PaisesActivity" />
        <activity android:name=".view.EstadosActivity" />
        <activity android:name=".view.CidadesActivity" />
        <activity android:name=".view.BairrosActivity" />
        <activity android:name=".view.ParadasActivity" />
        <activity android:name=".view.ItinerariosActivity" />
        <activity android:name=".view.PontosInteresseActivity" />
        <activity android:name=".view.EmpresasActivity" />
        <activity android:name=".view.ParametrosActivity" />
        <activity android:name=".view.UsuariosActivity" />
        <activity android:name=".view.MensagensActivity" />
        <activity android:name=".view.DetalhesEmpresaActivity" />
        <activity android:name=".view.DetalhesOnibusActivity" />
        <activity android:name=".view.DetalhesItinerarioActivity" />
        <activity android:name=".view.SecoesItinerarioActivity" />
        <activity android:name=".view.HorariosActivity" />
        <activity android:name=".view.TarifasActivity" />
        <activity android:name=".view.SobreActivity" />
        <activity android:name=".view.ParadasSugeridasActivity" />
        <activity android:name=".view.HorariosItinerarioActivity" />
    </application>

</manifest>